.reveal-panel {
	margin-top: 100vh;
	width: 100%;
	height: 2px;
}

@media screen and (max-height: 450px) {
	.reveal-panel {
		margin-top: 20px;
	}
}

@media screen and (max-width: 600px) {
	.reveal-panel {
		margin-top: 550px;
	}
}

.home-description {
	font-size: 1.25rem;
	text-indent: 50px;
	line-height: 1.5;
	font-family: var(--font-family-for-description);
	color: var(--black-300);
	margin-bottom: 75px;
}

@media screen and (max-width: 768px) {
	.home-description {
		font-size: 1.5rem;
	}
}

.resume-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resume-panel a {
	text-decoration: none;
	color: var(--theme-blue-400);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 27px;
	transition: color 0.3s ease;
}

.resume-panel a:hover {
	color: var(--theme-blue-600);
}

.resume-panel a svg {
	fill: var(--theme-blue-400);
	transition: all 0.5s ease-in-out;
	width: auto;
	margin: 0px 6px;
}

svg.prefix {
	height: 24px;
	transform: translateY(5px) scale(0.9);
}
svg.suffix {
	height: 22px;
	opacity: 0;
	transform: translateY(3px) scale(0.9);
}

.resume-panel a:hover svg {
	fill: var(--theme-blue-600);
}

.resume-panel a:hover svg.suffix {
	opacity: 1;
}
