.reveal-panel {
	margin-top: 328px;
	width: 100%;
	height: 2px;
}

@media (min-width: 1200px) {
	.reveal-panel {
		margin-top: 608px;
	}
}

.home-description {
	font-size: 1.25rem;
	text-indent: 50px;
	line-height: 35px;
	text-align: justify;
	font-family: "Source Sans Pro", sans-serif;
	color: var(--black-300);
}
