.work-section {
	width: 100%;
	padding: 12px;
}

.section-title {
	font-size: 2.5rem;
	font-weight: 500;
}

.year {
	font-size: 1.25rem;
	letter-spacing: 1px;
}

ul.timeline {
	list-style-type: none;
	position: relative;
	padding: 0px;
}

ul.timeline li.entry {
	position: relative;
	padding: 20px 25px;
}

ul.timeline::before {
	content: " ";
	background: var(--theme-blue-200);
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 1px;
	top: 0px;
	height: calc(100% - 15px);
	z-index: 400;
}

ul.timeline li.entry::before {
	content: " ";
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid var(--theme-blue-500);
	left: -7px;
	width: 12px;
	height: 12px;
	margin-top: 3px;
	z-index: 400;
}

.timeline .title {
	font-size: 1.5rem;
	font-weight: 400;
}

.timeline .heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.row.skill-sets {
	margin-bottom: 14px;
}

.row.desc {
	font-family: var(--font-family-for-description);
	font-size: 1rem;
	text-align: justify;
}

.desc .desc-textarea {
	padding: 6px 12px;
	text-indent: 16px;
	line-height: 26px;
}

ul.bulletin-points {
	list-style-type: disclosure-closed;
}

ul.bulletin-points li.point {
	padding: 6px 4px;
	line-height: 26px;
}

@media screen and (max-width: 768px) {
	.timeline .title {
		font-size: 2rem;
	}
	.row.desc {
		font-size: 1.5rem;
	}
	.skill-chip {
		font-size: 1.5rem;
	}
}
